{% assign post_tags = site.tags | sort: name %}

{%- if post_tags.size > 0 -%}
<div class="part">
    <ul id="tag-list" class="fa-dropdown-list">
        {% for tag in post_tags %}
        <li>
            <span class="i-btn"><i class="fa-solid fa-angle-right fa-sm"></i></span>
            <a href="{{ '/tag?cat=' | append: tag[0] | relative_url }}">{{ tag[0] }} ({{ tag[1].size }})</a>

            <div class="hidden-list">
                {% assign posts = tag[1] | sort: title %}
                {% for post in posts %}
                    <a href="{{ post.url }}"> {{ post.title }}</a>
                    {% unless forloop.last %}<br>{% endunless %}
                {% endfor %}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}