<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {%- if page.url == '/' -%}
        <title>{{site.title}} | {{site.description}}</title>
    {%- else -%}
        <title>{{page.title}} | {{site.title}}</title>
    {%- endif -%}

    <script src="{{ '/assets/js/theme.js' | relative_path }}"></script>
    <script src="{{ '/assets/js/categories.js' | relative_path }}"></script>

    <link rel="shortcut icon" type="image/x-icon" href="{{'/assets/img/favicon.ico' | relative path}}">
    
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_path }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>