{%- assign paths = site.pages | map: "path" -%}

<nav>
  <a class="nav-link {% if page.url == "/" %} active{% endif %}" href="/"><i class="fa-regular fa-house"></i></a>
  {%- if paths -%}
    {%- for path in paths -%}
      {%- assign a_page = site.pages | where: "path", path | first -%}
      {%- if a_page.title and a_page.url != "/" and a_page.url != "/category.html" and a_page.url != "/tag.html" -%}
        <a class="nav-link{% if page.url == a_page.url %} active{% endif %}" href="{{ a_page.url | relative_url }}">{{ a_page.title | escape }}</a>
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
  <a class="right" href="#" id="light-toggle"><i class="fa fa-adjust" fa-flip-horizontal></i></a>
</nav>
