---
layout: default
---

<div class="content">
  <main>

    {%- if page.title -%}
      <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}
    
    {{ content }}
    
    {%- if site.posts.size > 0 -%}
      <ul class="page_posts">
        {% assign my_posts = site.posts | sort: title %}
        {%- for post in my_posts -%}
          <li><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </main>
</div>
