.content article {
    margin: 20px 0;
    padding: 0 5px;
    border-radius: 5px;
    border-bottom: 2px solid var(--article-border);

    .post-data {
        a {
            font-size: 20px;
            font-weight: bold;
        }

        .post-data-list {
            font-size: 14px;
            padding: 5px 0 10px 0;
        }
    }

    .article-content {
        color: var(--article-content);
        font-style: italic;
    }
}